<!-- Author: Alex Lowdon -->
<!-- Modal code for listing all the items and their relevant data of a specific piece of Software/Hardware -->
<div class="modal-dialog modal-md">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">{{ parent.name }}</h5>
            <button type="button" class="close" onclick="location.reload()">&times;</button>
        </div>
        <div class="modal-body">
            <table class="table mb-0">
                <thead>
                <tr>
                    {% if type == "soft" %}<th>License Key</th><th>Expiry</th>{% endif %}
                    {% if type == "hard" %}<th>Serial number</th><th>Purchased</th>{% endif %}
                    <th></th>
                </tr>
                </thead>
                {% for info in info %}
                <tr>
                    <td>{{ info.uniqueCode }}</td>
                    <td>{{ info.date }}</td>
                    <td><a href="#"><i class="fa fa-trash-o float-right" onclick="deleteEntry('{{ type }}','{{ info.itemId }}',{{ parent.wareId }})"></i></a></td>
                </tr>
                {% endfor %}
                <tr>
                    {% if type == "soft" %}<td><input type="text" class="form-control" id="liSeCode" placeholder="License Number"></td>{% endif %}
                    {% if type == "hard" %}<td><input type="text" class="form-control" id="liSeCode" placeholder="Serial Number"></td>{% endif %}
                    <td><input type="date" class="form-control" id="exPuDate"></td>
                    <td><button class="btn btn-block btn-outline-primary" onclick="addNewItem('{{ type }}','{{ parent.wareId }}')"><i class="fa fa-plus"></i></button></td>
                </tr>
            </table>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" onclick="loadForm('{{ type }}','Edit','{{ parent.wareId }}')">Edit this {{ type }}ware</button>
        </div>
    </div>
</div>